
data/AIS_ASCII_by_UTM_Month/2016/AIS_2016_02_Zone18.csv
code/.ipynb_checkpoints/build-model-checkpoint.ipynb
code/.ipynb_checkpoints/build-model-with-tugs-checkpoint.ipynb
code/.ipynb_checkpoints/run_model-checkpoint.ipynb
code/.ipynb_checkpoints/run_model-tugs-checkpoint.ipynb
code/.ipynb_checkpoints/Untitled-checkpoint.ipynb
